.add-user-management {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin: auto;
  padding: 0.5rem 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: #0e0d0d;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 9px 19px 8px rgba(0, 0, 0, 0.25);

  .add-user-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .add-user-title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  .input-fields {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    > label {
      margin-top: 0.5rem;
      font-size: 1rem;

      > input {
        margin-top: 0.5rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid black;
        width: 13rem;
      }

      :focus {
        outline: none;
        border: 1px solid red;
      }

      input[type="email"] {
        width: 13rem;
      }
    }

    .roles-container-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      font-size: 1rem;

      :focus {
        outline: none;
        border: 1px solid red;
      }

      select {
        margin-top: 0.5rem;
        margin-right: 1rem;
        border-radius: 1rem;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }

  .add-button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 6rem;
    height: 2rem;
    width: 100%;

    button {
      font-weight: 500;
      font-size: 1rem;
      padding: 0.5rem;
      background-color: #00acb0;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: transform 350ms ease-out;

      &:active {
        border: none;
        transform: scale(1.01);
      }
    }

    .remove-button-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 10rem;
      height: 2rem;

      button {
        font-weight: 700;
        font-size: 1rem;
        padding: 1rem;
        background-color: #e36164;
        border-radius: 0.5rem;
        border: 1px solid black;
        cursor: pointer;
        transition: transform 350ms ease-out;

        &:active {
          border: none;
          transform: scale(1.01);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .add-user-management {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-width: 60rem;

    .add-user-title-container {
      justify-content: flex-start;

      width: 90%;
    }

    .user-management-container {
      width: 100%;
      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 0 auto;

        .roles-container-1 {
          width: 95%;
          justify-content: flex-start;

          select {
            width: 10rem;
            height: 2rem;
          }
        }
        > label {
          width: 40rem;

          > input {
            width: 90%;
          }
        }
        .desktop {
          flex-direction: row;
        }
        .paswword-container {
          display: flex;
          justify-content: space-between;
          width: 80%;
        }

        .name-inputs-container {
          display: flex;
          justify-content: left;
          flex-direction: row;
          margin: 0;
        }

        label {
          input[type="email"] {
            min-width: 10rem;
          }

          input[type="password"] {
            min-width: 10rem;
          }
        }
      }
    }

    .add-button-container {
      justify-content: center;
      width: 100%;
      margin-top: 4rem;

      button {
        width: 15rem;
      }
    }
  }
}
