.faqContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 60px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,0.3)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(205, 100%, 13%, 0.3)' fill='none'/><path d='M-50.129 32.685C-33.346 32.358-16.786 24.918 0 25c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(341, 80%, 52%, 0.3)' fill='none'/><path d='M-50.129 52.685C-33.346 52.358-16.786 44.918 0 45c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(181, 100%, 35%, 0.3)' fill='none'/><path d='M-50.129 72.685C-33.346 72.358-16.786 64.918 0 65c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(45, 100%, 61%, 0.3)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-72,0)' fill='url(%23a)'/></svg>");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  .faqImg {
    width: clamp(320px, 40%, 800px);
    height: auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
  }

  > h1 {
    width: clamp(280px, 80%, 800px);
    color: var(--blackColor);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
  }

  .detailsContainer {
    width: clamp(280px, 80%, 800px);
  }

  details {
    margin: 10px 10px;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.3);

    summary {
      font-weight: bold;
      cursor: pointer;
      outline: none;
    }

    p {
      margin: 10px 0 0 0;
      padding: 10px;
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
    }
  }

  .details1 {
    background: rgba(255, 205, 56, 0.35);
    backdrop-filter: blur(2px);
  }

  .details2 {
    background: rgba(57, 188, 208, 0.35);
    backdrop-filter: blur(2px);
  }

  .details3 {
    background: rgba(230, 36, 98, 0.35);
    backdrop-filter: blur(2px);
  }

  .details4 {
    background: rgba(0, 39, 67, 0.35);
    backdrop-filter: blur(2px);
  }

  .details5 {
    background: rgba(255, 205, 56, 0.35);
    backdrop-filter: blur(2px);
  }

  .details6 {
    background: rgba(57, 188, 208, 0.35);
    backdrop-filter: blur(2px);
  }
}
