.modalBackground {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'%3E<defs><pattern id='a' patternUnits='userSpaceOnUse' width='120' height='80' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,0.3)'/><path d='M-50.129 12.685C-33.346 12.358-16.786 4.918 0 5c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(205, 100%, 13%, 0.3)' fill='none'/><path d='M-50.129 32.685C-33.346 32.358-16.786 24.918 0 25c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(341, 80%, 52%, 0.3)' fill='none'/><path d='M-50.129 52.685C-33.346 52.358-16.786 44.918 0 45c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(181, 100%, 35%, 0.3)' fill='none'/><path d='M-50.129 72.685C-33.346 72.358-16.786 64.918 0 65c16.787.082 43.213 10 60 10s43.213-9.918 60-10c16.786-.082 33.346 7.358 50.129 7.685'  stroke-width='0.5' stroke='hsla(45, 100%, 61%, 0.3)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-72,0)' fill='url(%23a)'/></svg>");
  background-attachment: fixed;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContainer {
    width: 70%;
    // height: 30rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .image-container {
      width: 5rem;
      height: 5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .modalContainer {
      flex-direction: row;
    }
  }
}
