@import "./variables.scss";

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 90%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px 9px 19px 8px rgba(0, 0, 0, 0.25);
  gap: 2rem;

  .reset-password-container{
    display: flex;
    flex-direction: column;
  width: 15rem;
    align-items: center;
    justify-content: center;

    label{
   width: 90%;
      // text-align: center;
    }

    input{
width: 90%;
        padding: 0.5rem;
    }

    .reset-button-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-top: 2rem;
      height: 2rem;
      width: 100%;
      gap: 1rem;
  
      button {
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem;
        width: 10rem;
        background-color: #00acb0;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: transform 350ms ease-out;
  
        &:active {
          border: none;
          transform: scale(1.01);
        }
      }
}
}

@media screen and (min-width:768px) {
  max-width: 40rem;
}
}