@use "./sass/variables";
@use "./sass/login";
@use "./sass/wrongPage";
@use "./sass/faq";
@use "./sass/_addUser.scss";
@use "./sass/resetPassword";
@use "./sass/header";
@use "./sass/navModal";
@use "./sass/cardProduct";
@use "./sass/_allProducts.scss";
@use "./sass/calculator";
@use "./sass/admin";
@use "./sass/adminLists";
@use "./sass/modalProduct";

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Raleway";
}
